## 256,512,640
### 1,3,5
#### 100_960,1000_9600,12_1000
root_dir=/data/mnist_mot/%GP%_%P%_%N%_var
img_dir=Images
list_file_name=lists/mnist_%GP%_%P%_%N%_var.txt
json_desc=mnist_%GP%_%P%_%N%_var
##

## test,train
list_file_suffix=%N%
json_desc=mnist_%GP%_%P%_%N%_var-%N%
##

data_type=annotations
class_names_path=lists/classes/mnist_mot.txt
ignore_invalid=0
show_img=0
sample=0

## mot
mode=1
	### 0
	mode=2
	### 1
	mode=1
	### 2
	mode=0
## csv
mode=2
	### 0
	mode=0
	### 1
	mode=2
## zip
zip=1
	### 0,1
	zip=%N%

## gz
json_gz=1
	### 0,1
	json_gz=%N%






