root_dir=/data/ILSVRC2015/Data
xml_root_dir=/data/ILSVRC2015/Annotations

seq_paths=lists/imagenet_vid.txt
description=imagenet_vid

img_ext=JPEG
target_id_field=trackid
add_ext_to_image=1
ignore_missing_target=0
ignore_invalid_label=0

## start
### irange(3861)
start_seq_id=%N%

## end
### irange(3861)
end_seq_id=%N%

## train,val
seq_paths_suffix=%N%
##

## 100_per_seq,100_per_seq_random,80_per_seq_random_len_2,80_per_seq_random_len_4,80_per_seq_random_len_8,256_per_seq_random_len_16,512_per_seq_random_len_32,200_per_seq_random_len_8,320_per_seq_random_len_16,120_per_seq_random_len_3
load_samples=1
load_samples_suffix+=%N%
load_samples_root=/data/ILSVRC2015/imagenet_vid
##

class_names_path=lists/classes/imagenet_vid.txt
map_classes=1
auto_class_cols=1

%import% xml_to_ytvis.cfg





